<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    
    <body>
        <h1>Hey <%= @guy_CA.name %></h1>
        <p>
            Your open house schedule is at _____ on ______.
            <!--The visitor's name is:  <br>-->
            <!--And His email addr is:  <br>-->
            <!--And His phone number is: <br>-->
        </p>
        <p>
            <!--To check out the schedule in calendar view, just follow this link: .-->
        </p>
        <p> Thanks for this and have a great day son!</p>
    </body>
</html>