%head
  = link_to 'CALENDAR', calendar_path, :class => 'buttons'
  = link_to 'CA INFO', cas_path, :class => 'buttons'
  = link_to 'ADD CA', new_ca_path, :class => 'buttons button3'

%body
  %p
    %div
      #calendar
    
:javascript
    $(document).ready(function() {
      $("#calendar").fullCalendar({
        header: {
          left: "prev,next today",
          center: "title",
          right: "month,agendaWeek,agendaDay,listDay"
        },
        theme: false,
        slotMinutes: 15,
        aspectRatio: 1.5,
        listDayFormat: true,
      })
    });