/* line 5, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/cas.scss */
.buttons {
  margin-left: 5%;
  font-size: 20;
}

/* line 10, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/cas.scss */
.button3 {
  float: right;
  margin-right: 5%;
}

/* line 14, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/cas.scss */
.center_buttons {
  text-align: center;
}

/* line 18, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/cas.scss */
main {
  margin-top: 100;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* line 25, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/cas.scss */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* line 5, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/default.scss */
.buttons {
  margin-left: 3%;
  font-size: 40px;
}

/* line 9, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/default.scss */
.button3 {
  margin-right: 5%;
  float: right;
}

/* line 13, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/default.scss */
.center_buttons {
  text-align: center;
  display: block;
}

/* line 18, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/default.scss */
main {
  margin-top: 60px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

/* line 25, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/default.scss */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* line 35, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/default.scss */
table {
  border-collapse: separate;
  border-spacing: 250px 50;
}
/* line 1, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /home/ubuntu/workspace/UCBerkeley_Housing/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

