<%= form_for(@ca) do |f| %>
  <% if @ca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ca.errors.count, "error") %> prohibited this ca from being saved:</h2>

      <ul>
      <% @ca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
