%body
  %p
    %div
      #calendar
    #desc_dialog.dialog{:style => "display:none;"}
      #event_desc
      %br/
      %br/
      #event_actions
        %span#edit_event
        %span#delete_event
    #create_event_dialog.dialog{:style => "display:none;"}
      #create_event

        

:javascript
  $(document).ready(function(){

    $('#calendar').fullCalendar({
      editable: false,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: "month,agendaWeek,agendaDay,listDay"
      },
      weekends: false,
      slotMinutes: 30,
      aspectRatio: 1.5,
      listDayFormat: true,
      loading: function(bool){
        if (bool) 
          $('#loading').show();
        else 
          $('#loading').hide();
      },
      events: "/events/get_events",
      timeFormat: 'h:mm t{ - h:mm t} ',
      dragOpacity: "0.5",
      eventRender: function (event, element) {
          element.find('.fc-event-title').append("<br/>" + event.ca_name); 
      }
      
    });
  });


