%head
  = link_to 'CALENDAR', events_path, :class => 'buttons'
  = link_to 'CA INFO', cas_path, :class => 'buttons'
  = link_to 'ADD CA', new_ca_path, :class => 'buttons button3'

%body
  // %p
  //   = link_to 'Create Event', new_event_url, :id => 'new_event'
  %p
    %div
      #calendar
    #desc_dialog.dialog{:style => "display:none;"}
      #event_desc
      %br/
      %br/
      #event_actions
        %span#edit_event
        %span#delete_event
    #create_event_dialog.dialog{:style => "display:none;"}
      #create_event

        

:javascript
  $(document).ready(function(){
      // page is now ready, initialize the calendar...
    $('#new_event').click(function(event) {
        event.preventDefault();
        var url = $(this).attr('href');
        $.ajax({
          url: url,
          beforeSend: function() {
            $('#loading').show();
          },
          complete: function() {
            $('#loading').hide();
          },
          success: function(data) {
            $('#create_event').replaceWith(data['form']);
            $('#create_event_dialog').dialog({
              title: 'New Event',
              modal: true,
              width: 500,
              close: function(event, ui) { $('#create_event_dialog').dialog('destroy') }
            });
          }
        });
      });
  
    $('#calendar').fullCalendar({
      editable: false,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: "month,agendaWeek,agendaDay,listDay"
      },
      weekends: false,
      slotMinutes: 15,
      aspectRatio: 1.5,
      listDayFormat: true,
      loading: function(bool){
        if (bool) 
          $('#loading').show();
        else 
          $('#loading').hide();
      },
      events: "/events/get_events",
      timeFormat: 'h:mm t{ - h:mm t} ',
      dragOpacity: "0.5",
      eventRender: function (event, element) {
          element.find('.fc-event-title').append("<br/>" + event.ca_name); 
      }
      
    });
  });


