<footer class="footer">
  <small>
    <a href="http://www.google.com", class="a_link">UCB Housing APP</a>
    by Team 15
  </small>
  <nav>
    <ul>
      <li><a href="http://www.google.com", class="a_link">Contact</a></li>
    </ul>
  </nav>
</footer>