<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "UCB Family Housing", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
            <li id="fat-menu" class="dropdown">
              <%= link_to "Sign out", auth_logout_path, method: "delete" %>
            </li>
        </ul>
      </nav>
    </div>
  </div>
</header>